* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #160d5a91;
}

h1 {
  text-align: center;
  color: #ffff;
  font-style: italic;
  position: relative;
  top: 20px;
  text-shadow: rgb(94, 91, 91) 0 0 5px;
}

.search {
  max-width: 400px;
  margin: 50px auto;
}

input {
  /* width: 100%; */
  padding: 20px;
}
#search-box {
  font-style: italic;
  margin: 0;
  text-align: center;
  outline: 0;
  border: 10px solid #f7f7f7;
  width: 120%;
  left: -10%;
  position: relative;
  top: 10px;
  z-index: 2;
  border-radius: 5px;
  font-size: 30px;
}

.suggestions {
  margin: 0;
  padding: 0;
  position: relative;
}

.suggestions li {
  list-style: none;
  background: white;
  border-bottom: 1px solid #d8d8d8;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.14);
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  transition: transform 5s;
}

.suggestions li:nth-child(even) {
  transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
  background: linear-gradient(to bottom, #ffffff 0%, #efefef 100%);
}
.suggestions li:nth-child(odd) {
  transform: perspective(100px) rotateX(-3deg) translateY(3px) scale(1.001);
  background: linear-gradient(to bottom, #ffffff 0%, #efefef 100%);
}
.population {
  font-size: 15px;
}
.hl {
  background: #ffc600;
}
